@import "compass";

$default-transition-duration:.3s;

@include global-reset;

@import "modules/animate";

/*------------------------------------*\
    BASE
\*------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    color: #393947;
    font-family: "Open Sans";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

input{
    outline: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.container {
    width: 658px;
    margin: 0 auto;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header {
    display: none;
    color: #797985;
    font-weight: 400;
    padding: 28px 0;

    @include clearfix;
    @include background-image(linear-gradient(top right, #1b1b28, #333341));

    h1 {
        margin-bottom: 15px;

        line-height: 70px;
        color: #FFF;
        font-size: 38px;
        font-weight: 700;
        border-bottom: 1px solid #3a3b4a;
    }

    &_list {
        @include clearfix;
        margin: 20px 0;
        a {
            display: block;
            float: left;
            width: 50%;
            height: 28px;
            line-height: 28px;
            @include transition-duration;
        }
        a:hover {
            color: #FFF;
        }
    }
}

.rate {
    line-height: 33px;
    height: 33px;
    .rate_text {
        float: left;
    }
    .rate_input {
        float: right;
        width: 131px;
        height: 35px;

        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 600;

        background-color: #222231;
        border: none;
    }
}

.hamburger{
    margin-top:10px;
    margin-bottom: 20px;
    position: relative;
    display:block;
    width: 2rem;
    height: 20px;
    cursor: pointer;
    &:after{
        content:"";
        position: absolute;
        display: block;
        width: 2rem;
        height: 1px;
        left: 0;
        top: 0;
        @include box-shadow(0 10px 0 1px #b0b0b0, 0 16px 0 1px #b0b0b0, 0 22px 0 1px #b0b0b0);
    }
    &:hover:after{
        content:"";
        position: absolute;
        display: block;
        width: 2rem;
        height: 1px;
        left: 0;
        top: 0;
        @include box-shadow(0 10px 0 1px #262634, 0 16px 0 1px #262634, 0 22px 0 1px #262634);
        @include transition-duration(.2s);
    }
}


/*------------------------------------*\
    Project
\*------------------------------------*/
.project {
    position: relative;
    height: 204px;
    margin: 0 auto 37px auto;
    background-color: #FFF;
    border-radius: 2px;
    @include box-shadow(0 1px 2px rgba(167, 174, 182, 0.75));

    &_name {
        padding: 20px 0 10px 40px;
        color: #393947;
        font-size: 24px;
        font-weight: 700;
        border-bottom: 1px solid #e6e6e6;
    }

    &_info {
        position: absolute;
        top: 0;
        right: 0;
        width: 177px;
        height: 100%;
        padding: 20px 0 0 20px;
        background-color: #F9F9F9;

        color: #393947;
        line-height: 38px;
        font-size: 18px;
        font-weight: 700;
    }

    .icon {
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 4px;
    }
    &:hover{
        @include box-shadow(0 1px 8px rgba(167, 174, 182, 0.75));
    }

}

.tasks {
    margin: 10px 170px 10px 40px;
}

.task {
    line-height: 32px;
    vertical-align: middle;

    &_time, &_price {
        display: inline-block;
        border: none;
        color: #929292;
        width: 32px;
    }

    &_price{
        display: inline-block;
        width: 95px;
        padding: 0 25px 0 20px;
    }

    &_name {
        padding-right: 15px;
    }
}

/*------------------------------------*\
    Icons
\*------------------------------------*/
.icon {
    display: inline-block;
}

@import "icon/*.png";
$icon-layout: smart;
@include all-icon-sprites(true);