<html ng-app="timr">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/popup.css">
</head>
<body ng-controller="AppCtrl" ng-class="{isrecording: start, animated: loaded}">
    <button class="dashboard" ng-click="dashboard()">Dashboard</button>
    <div class="viewport" ng-if="loaded">
        <div class="container">
            <button ng-click="record()" class="rec-container">
                <span class="rec"><span><span></span></span></span>
            </button>
            <timer start="start"></timer>
            <hr/>
            <form ng-submit="save()">
                <input type="text" ng-model="project.name" placeholder="Project name" autocomplete autocompleteconfig="projectsAutoComplete">
                <input type="text" ng-model="project.task" placeholder="Task name" autocomplete autocompleteconfig="tasksAutoComplete">
                <hr/>
                <div class="action">
                    <button class="action-cancel" ng-click="reset()">cancel</button>
                    <button type="submit" class="action-save btn">Save</button>
                </div>
            </form>
        </div>
    </div>

    <script src="js/functions.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.ui.js"></script>
    <script src="js/angular.js"></script>

    <script src="js/storage.js"></script>

    <script src="js/directives/timer.js"></script>
    <script src="js/directives/autocomplete.js"></script>

    <script src="js/popup.js"></script>
</body>
</html>
