.ng-enter, .ng-leave {
    @include transition-duration(0.3s);
}

.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
/* starting animations for enter */
.ng-enter, .ng-leave.ng-leave-active {
    opacity: 0;
    @include transform(translateX(-150px));
}
/* terminal animations for enter */
.ng-enter.ng-enter-active, .ng-leave {
    opacity: 1;
    @include transform(translateX(0px));
}